.root {
  margin: 10px;
  font-weight: normal;
  font-family: "Balsamiq Sans", cursive;
}

/*Заголовок страницы*/
.container__title {
  text-align: center;
  font-family: "Rubik Bubbles", cursive;
}

/*обертка блока для добавления информации о супер героях*/
.container__squad {
  display: grid;
  grid-gap: 19px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

/*блок с информацией о супер героях*/
.container__superheroe {
  display: grid;
  justify-items: center;
  text-align: center;
  background-color: bisque;
  border-radius: 15px;
}

/*Блок с именем супергероя*/
.container__superheroe-title {
  font-family: "Rubik Wet Paint", cursive;
  font-weight: 200;
}

p {
  margin-block-start: 0;
  padding: 11px;
}

/*Фото супер героев*/
.container__superheroe-img {
  max-width: 25rem;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 1em;
}

/*Обертка для блока с рейтингом*/
.container__tmpl {
  display: grid;
}

/*Иконка звезды*/
.icon {
  fill: black;
  width: 20px;
  height: 20px;
}

/*Блок с инпутами рейтинга*/
.container__label {
  position: relative;
  cursor: pointer;
}

/*Инпуты с рейтингом*/
.container__input {
  /* display: none; */
  position: relative;
  opacity: 0;
  z-index: 1;
}

/*Блок для добавления рейтинга после загрузки*/
.container__superheroe-raiting {
  margin-bottom: 20px;
}
